<!--<section class="">-->
<!--  &lt;!&ndash; Footer &ndash;&gt;-->
<!--  <footer class="text-center text-white" style="background-color: #199de5;">-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->
<!--    <div class="container p-4 pb-0">-->
<!--      &lt;!&ndash; Section: CTA &ndash;&gt;-->
<!--      <section class="">-->
<!--        <p class="d-flex justify-content-center align-items-center">-->
<!--          <span class="me-3">Register for free</span>-->
<!--          <button type="button" class="btn btn-outline-light btn-rounded">-->
<!--            Sign up!-->
<!--          </button>-->
<!--        </p>-->
<!--      </section>-->
<!--      &lt;!&ndash; Section: CTA &ndash;&gt;-->
<!--    </div>-->
<!--    &lt;!&ndash; Grid container &ndash;&gt;-->

<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">-->
<!--      © 2020 Copyright:-->
<!--      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>-->
<!--    </div>-->
<!--    &lt;!&ndash; Copyright &ndash;&gt;-->
<!--  </footer>-->
<!--  &lt;!&ndash; Footer &ndash;&gt;-->
<!--</section>-->
<style>
  html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}
  .w3-theme-d2, .w3-theme, .w3-theme-d1, .w3-theme-d3, .w3-theme-l1 {
    background-color: #199de5 !important;
  }
  .w3-theme-d4, .w3-theme-d5, .w3-theme-l1.w3-theme-d1 {
    background-color: #076490 !important;
  }
  .w3-theme-d4, .w3-theme-d5 {
    background-color: #076490 !important;
  }

</style>
<!-- Footer -->
<footer class="w3-container w3-theme-d3 w3-padding-16">
  <h5>Footer</h5>
</footer>

<footer class="w3-container w3-theme-d5">
  <p>Powered by <a href="#" target="_blank">your team name</a></p>
</footer>
